
<body>
  <% if (!session.authenticated) { %>
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="error-template">
                          <h1>
                              Oops!</h1>
                          <h2>
                              404 Not Found</h2>
                          <div class="error-details">
                              Sorry, an error has occured, Requested page not found!
                          </div><br>
                          <div class="error-actions">
                              <a href="/" class="btn btn-primary btn-lg"><span></span>
                                  Take Me Home </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div><br><br>
    <% } else if ( session.authenticated ) { %>

      <%if (session.User.admin === true) {%>
        
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="/article/newUpload" method="post">
            <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    <label><h2>Attach Image </h2></label>
                    <div class="input-group">
                        <span class="input-group-btn">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <span class="btn btn-default btn-file"> 
                                Browse… <input type="file" name="uploadFile" id="imgInp"/>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    
                    <img id='img-upload'/>
                </div><span><input type="submit" class="btn btn-default btn-file" value="submit" id="imgInp"/></span><br><br>
                
            </div>
            </div>
            
    </form>
      <% } else { %>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="error-template">
                          <h1>
                              Oops!</h1>
                          <h2>
                              Admin Only</h2>
                          <div class="error-details">
                              Sorry, an error has occured, Requested page not found!
                          </div><br>
                          <div class="error-actions">
                              <a href="/" class="btn btn-primary btn-lg"><span></span>
                                  Take Me Home </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div><br><br>
          <% } %>
    <% } %>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap-imageupload.js"></script>
</body>
