<!DOCTYPE html>
<html>
<head>
<title>HealthiOne Initiative</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HealthiOne Initiative, responsive site, sochealth" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--end-smoth-scrolling-->
<script language="JavaScript">
<!--
function calculateBmi(event) {
	event.preventDefault();
var weight = document.bmiForm.weight.value
var height = document.bmiForm.height.value
if(weight > 0 && height > 0){	
var finalBmi = weight/(height/100*height/100)
document.bmiForm.bmi.value = finalBmi
if(finalBmi < 18.5){
document.bmiForm.meaning.value = "You are too thin."
}
if(finalBmi > 18.5 && finalBmi < 25){
document.bmiForm.meaning.value = "You are healthy."
}
if(finalBmi > 25){
document.bmiForm.meaning.value = "You have overweight."
}
}
else{
alert("Please Fill in everything correctly")
}
}
//-->
</script>
</head>
<!--start-header-->
  <div class="header" id="home">
    <div class="container">
      <div class="head">
      <nav class= "navbar-fixed-top ">
        <a href="/"><img src="/images/logo.png" alt="" /></a>

      </nav>
      <nav class="navbar navbar-fixed-top">
      <div class="navigation">
         <span class="menu"></span> 
          <ul class="navig">


          <% if (!session.authenticated) { %>
			<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										 <form class="form" role="form"  method="post" action="/session/create" accept-charset="UTF-8" id="login-nav">
												<div class="form-group">
													 <label class="sr-only" for="email">Email address</label>
													 <input type="email" class="form-control" name="email" id= "email" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="password">Password</label>
													 <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
													 <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> keep me logged-in
													 </label>
												</div>
												<input type="hidden" name="_csrf" value="<%= _csrf %>" />
										 </form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="/user/new"><b>Join Us</b></a>
									</div>
							 </div>
						</li>
					</ul>
        </li>
        <% } %>
        <% if ( session.authenticated ) { %>
        	<li><a href="/user/show/<%= session.User.id %>"  class="active"><%= session.User.name %></a></li>
        <% }%>
        <% if ( session.authenticated && session.User.admin) { %>
        	<li><a href="/user"  class="active"> User Administration </a></li>
        	<li><a href="/article"  class="active"> Articles </a></li>
        <% }%>
            <li><a href="/"  class="active">Home</a></li>
            <li><a href="#blog" class="scroll">Blog</a></li>
            <li><a href="#get" class="scroll">Get In Touch</a></li>

            <% if ( session.authenticated ) { %>
        	<li><a href="/session/destroy"  class=""> Sign Out </a></li>
        <% }%>
	  
          </ul>

          <ul class="nav navbar-nav navbar-right">
        
      </ul>

      </div>
      </nav>
        <div class="clearfix"></div>
      </div>
      </div>
    </div> 
    <!-- Header Ends -->

<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	<!--banner-starts-->
		<div class="banner">
			<div class="container">
				<div class="banner-main">
					<div  id="top" class="callbacks_container">
			      	<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-top">
								<h1>Welcome to <span class="an"> HealthiOne Initiative</span> </h1>
								<h2>Better Health, Greater Impact!</h2>
								<% if (!session.authenticated) { %>
								<div class="banner-bottom">
								
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
									<div class="banner-left">
										<a href="#projects" class="fut">Projects</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<% }%>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<a href="/user/new" class="get"> <h2>Do you want access to health-based career workshops for students?
								<p>latest health news and innovations,counselling from certified HEALTH PROFESSIONALS?</p> 
								<p>Do you want proper information about diseases and treatments from qualified <strong>MEDICAL DOCTORS</strong>? </p> </h2></a>
								<% if (!session.authenticated) { %>

								<div class="banner-bottom">
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
								
									<div class="banner-left">
										<a href="#projects" class="fut">Projects</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<% }%>

							</div>
						</li>
						<li>
							<div class="banner-top">
								<h2>Do you want right information about physical therapies from seasoned <strong>PHYSIOTHERAPISTS</strong> online?
								<p> Do you want assistance to do health and health-related surveys using social platforms?</p></h2>
								<% if (!session.authenticated) { %>
								<div class="banner-bottom">
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
								
									<div class="banner-left">
										<a href="#projects" class="fut">Projects</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<% }%>

							</div>
						</li>
						<li>
							<div class="banner-top">
								<h2>Do you wish to organise Health seminars but dont have qualified resource person to speak?
								<p> Do you wish to partner or volunteer to organise and serve in health outreaches?</p></h2>
								<% if (!session.authenticated) { %>
								<div class="banner-bottom">
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
								
									<div class="banner-left">
										<a href="#projects" class="fut">Projects</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<% }%>
							</div>
						</li>
					</ul>
			    </div>
			  <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--services-starts-->
	<div class="services" id="services">
		<div class="container">
			<div class="services-top">
				<h3>What We Do </h3>
				<span> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="/blog/askExpert"><img src="images/service-1.png" alt="" /></a>
						<a href="/blog/askExpert"><h4>Ask Health Experts</h4></a>
						<p class="overflow-visible"> This is a free health online Question and Answer forum that connects people anonymously, empowering them with knowledge to assist them in making more informed decisions by getting answers to their health concerns thereby improving their quality of life. </p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#blog" class="scroll"><img src="images/services-3.png" alt="" /></a>
						<a href="#blog" class="scroll"><h4>Blog Section</h4></a>
						<p class="overflow-visible">view articles by various contributors and interviews with expert in health and other relevant areas.</p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#get" class="scroll"><img src="images/service-2.png" alt="" /></a>
						<a href="#get" class="scroll"><h4>Collaboration Hub</h4></a>
						<p class="overflow-visible">Invite us to participate in your programs by doing health talks, seminars, surveys, outreaches. etc Allow us to add more value to your program.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--services-ends-->
	<!--work-starts-->
	<!--work-ends-->
	<!--video-ends-->
	
			<!--pop-up-box-->
	
				<!--/-->
	
	
	
	<!-- <!-- <!--team-starts-->
	<!-- <div class="team" id="team">
		<div class="container">
			<div class="team-top">
				<h3>Our Team</h3>
				<span> </span>
			</div>
			<div class="team-bottom">
				<div class="col-md-4 team-left">
					<img src="images/team-1.jpg" alt="" />
					<h4>Jack Clark</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-two">
					<img src="images/team-3.jpg" alt="" />
					<h4>Anna Jhon</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-three">
					<img src="images/team-2.jpg" alt="" />
					<h4>Harry Ben</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
	<!--team-end--> 
	
	
	<!--Slider-Starts-Here-->
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider5").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
				
<div>


     <div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">BMI CALCULATOR</h1>
                  </div>
              </div>
              
        <div class="main-login main-center">
          <form name="bmiForm" class="form-horizontal" >            
            <div class="form-group" >
              <label for="weight" class="cols-sm-2 control-label">Weight</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="weight" id="weight"  placeholder="Enter Your Weight" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="height" class="cols-sm-2 control-label">Height</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="height" id="height"  placeholder="Enter your Height" />
                </div>
              </div>
            </div>
            <div class="form-group ">
             	<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Calculate Bmi" onClick="calculateBmi(event)" />
            </div>
            

            
            <div class="form-group">
              <label for="bmi" class="cols-sm-2 control-label">Your Bmi is </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  
                  
                  <input type="text" class="form-control" name="bmi"  placeholder=""/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="meaning" class="cols-sm-2 control-label">This Means </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="meaning"  placeholder=""/>
                </div>
              </div>
            </div>




            <div class="form-group ">
              <input type= "reset"  class="btn btn-primary btn-lg btn-block login-button" value="reset" />
            </div>
            
          </form>
        </div>
      </div>
    </div>


    </div>
	
	<!--blog-starts-->
	<div class="blog" id="blog">
		<div class="container">
			<div class="blog-top">
				<h3>Blog</h3>
				<span></span>
			</div>
			<div class="blog-bottom">
				<div class="col-md-4 blog-left">
					<a href="/user/blog"><img src="images/blog-1.jpg" alt="" /></a>
					<div class="blog-text">
						<a href="/user/blog"><h4>Social Sharing For Traffic</h4></a>
						<span>by <a href="#">admin</a>  |  June 26, 2014</span>
						<p class="overflow-ellipsis">FAMILY PLANNING 2<br>
1. MALE CONDOMS :Condoms usually worn over the penis are great at preventing both pregnancy and STDs. If you follow the instructions and use them every time you have sex, there's very little chance of pregnancy and your chance of getting or giving an STD is much lower.</p>
<p><a href="/article/singleArticle/1">Read more >></a>
					</div>
				</div>
				<div class="col-md-4 blog-left">
					<a href="/user/blog"><img src="images/desert.jpg" alt="" /></a>
					<div class="blog-text">
						<a href="/user/blog"><h4>Ecommerce Marketing</h4></a>
						<span>by <a href="#">admin</a>  |  June 26, 2014</span>
						<p class="overflow-ellipsis">Social Sharing is the best way to get more traffic. You can share your posting on the top social sharing sites. If you have a shop you can share your products on Social websites for Ecommerce Marketing.</p>
						<p><a href="/article/singleArticle/2">Read more >></a>
					</div>
				</div>
				<div class="col-md-4 blog-left">
					<a href="/user/blog"><img src="images/blog-3.jpg" alt="" /></a>
					<div class="blog-text">
						<a href="/user/blog"><h4>How to Get High Page Rank</h4></a>
						<span>by <a href="#">admin</a>  |  June 26, 2014</span>
						<p class="overflow-ellipsis">Social Sharing is the best way to get more traffic. You can share your posting on the top social sharing sites. If you have a shop you can share your products on Social websites for Ecommerce Marketing.</p>
						<p><a href="/article/singleArticle/3">Read more >></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--blog-end-->

	
	



	<!--contact-starts-->
	<div class="contact" id="get">
		<div class="container">
			<div class="contact-top">
				<h3>Contact</h3>
				<span> </span>
			</div>
			<div class="contact-bottom">
				<div class="col-md-6 contact-left">
					<ul>
						<li><span class="address"> </span>
						<p>Waiting for popsy, 
						   <label>HealthiOne, popsy, Road</label>
                            Ibadan, Nigeria
                        </p>
                        </li>
                        <li><span class="phone"> </span>
						<p>(+234)8149240238</p>
                        </li>
                        <li><span class="msg"> </span>
						<p><a href="ebuson4real@gmail.com">ebuson4real@gmail.com</a></p>
                        </li>
					</ul>
				</div>
				<div class="col-md-6 contact-right">
					<input type="text" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}" />
					<input type="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}" />
					<input type="text" value="Website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" />
					<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					 <div class="s-btn">
						<form>
							<input type="submit" value="Send">
						</form>
				     </div>	
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--contact-end-->
				 
</body>
</html>